body {
  background-color: #002147 !important;

}

.center {
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
}
mark {
  background: none !important;
  color: #ff5858 !important;
}

#typed {
  width: 55%;
  text-align: center;
  margin-top: 3.5em;
  color: #ffffff;
  font-size: 6.5em;
  font-family: "Tox Typewriter";
}
